
<header class="bg-blue-500 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
        <div class="text-2x1 font-bold">
            Score Board
        </div>
        <nav class="flex space-x-4">
            <a [routerLink]="'/home'" href="#" class="hover:underline">Home</a>
            <a [routerLink]="'/live'" href="#" class="hover:underline">Live</a>
            <a [routerLink]="'/history'" href="#" class="hover:underline">History</a>
            <a [routerLink]="'/point-table'" href="#" class="hover:underline">PoinTable</a>
        </nav>
        <div>hi</div>
    </div>
</header>




<router-outlet></router-outlet>
<h1>Footer</h1>